In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("SalaryData.csv")

In [5]:
independent=dataset[["Years"]]
independent

    Years
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     11
11     12
12     13
13     14
14     15
15     16
16     17
17     18
18     19
19     20
20     21
21     22
22     23
23     24
24     25
25     26
26     27
27     28
28     29
29     30
30     31
31     32
32     33
33     34
34     35
35     36
36     37
37     38
38     39
39     40
40     41
41     42
42     43
43     44
44     45
45     46
46     47
47     48
48     49
49     50

In [6]:
dependent=dataset[["Salary"]]
dependent

    Salary
0     1500
1     1950
2     2400
3     2850
4     3300
5     3750
6     4200
7     4650
8     5100
9     5550
10    6000
11    6450
12    6900
13    7350
14    7800
15    8250
16    8700
17    9150
18    9600
19   10050
20   10500
21   10950
22   11400
23   11850
24   12300
25   12750
26   13200
27   13650
28   14100
29   14550
30   15000
31   15450
32   15900
33   16350
34   16800
35   17250
36   17700
37   18150
38   18600
39   19050
40   19500
41   19950
42   20400
43   20850
44   21300
45   21750
46   22200
47   22650
48   23100
49   23550

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(independent,dependent,test_size=0.20,random_state=0)

In [10]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [11]:
weight=regressor.coef_
weight

array([[450.]])

In [13]:
bais=regressor.intercept_
bais

array([1050.])

In [14]:
y_pred=regressor.predict(x_test)

In [16]:
from sklearn.metrics import r2_score
r_score= r2_score(y_test,y_pred)
r_score

1.0

In [17]:
import pickle

In [20]:
filename="Finalized_Salary_LinearModel.sav"

In [21]:
pickle.dump(regressor,open(filename,'wb'))

In [22]:
loaded_model=pickle.load(open(filename,'rb'))
result=loaded_model.predict([[45]])

C:\Anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [23]:
result

array([[21300.]])